# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.pydevproject
*.project
*.directory
*.idea/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*.env
*.venv
.env/
venv/
venv.bak/
*.bak

# Media
media/

# Static files
static/

# mypy
.mypy_cache/

# Django migrations
*/migrations/*.pyc


.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env